<%- include('../layout/adminHeader') %>


<section class="vh-100 bg-image">
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Edit User</h2>

            <form method="post" action="" enctype="multipart/form-data">

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="name" value="<%= user.name %>"/>
                <label class="form-label" for="form3Example1cg">User Name</label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="form3Example3cg" class="form-control form-control-lg"  name="email" value="<%= user.email %>"/>
                <label class="form-label" for="form3Example3cg">User Email</label>
              </div>

              <div class="form-outline mb-4">
               <input type="text" id="form3Example4cg" class="form-control form-control-lg image" name="mno" value="<%= user.mobile %>"/>
               <label class="form-label" for="form3Example4cg">Mobile</label>
             </div>

              <div class="form-outline mb-4">
                <img src="/images/userImages/<%= user.image %>" width="100px" height="100px" alt="">
                <input type="file" id="form3Example4cg" class="form-control form-control-lg image" name="image"/>
                <label class="form-label" for="form3Example4cg">User Image</label>
              </div>

              <div class="form-outline mb-4">
                <label for="">Verified</label>
                <input type="radio" name="verify" value="1" <% if(user.is_varified === 1){ %> checked <% } %>/>
                
                <label for="">Unverified</label>
                <input type="hidden"  name="user_id" value="<%= user._id %>">
                <input type="radio" name="verify" value="0"  <% if(user.is_varified === 0){ %> checked <% } %> />
              </div>
              
              <div class="d-flex justify-content-center">
                <button type="submit"
                  class="btn btn-outline-success btn-block btn-lg gradient-custom-4 text-body">Submit</button>
              </div>
             
            </form>
            <% if(typeof message !== 'undefined'){
               %>
               <p style="color: red;"><%=message%></p>
              <%
           }
           
           %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>




