<%- include('../layout/header') %>
		<div class="untree_co-section before-footer-section">
            <div class="container">
              <div class="row mb-5">
                <form class="col-md-12" method="post">
                  <div class="site-blocks-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="product-thumbnail">Image</th>
                          <th class="product-name">Product</th>
                          <th class="product-price">Price</th>
                          <th class="product-quantity">Quantity</th>
                          <th class="product-total">Total</th>
                          <th class="product-remove">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(cart && cart.products.length > 0) { %>
                          <% cart.products.forEach((items)=>{ %>
                            
                        <tr class="product-container" data-cart-item-id="<%= items.productId._id %>">
                          <td class="product-thumbnail">
                          <a href="/product?id=<%= items.productId._id %>"><img src="/images/productImages/<%= items.productId.images[0] %>" alt="Image" class="img-fluid"></a>  
                          </td>
                          <td class="product-name">
                            <h2 class="h5 text-black"><%= items.productId.name %></h2>
                          </td>
                          <td><%= items.price %></td>
                          <td>
                            <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                              <div class="input-group-prepend">
                                <button class="btn btn-outline-black decrease" type="button">&minus;</button>
                              </div>
                              <input type="text" class="form-control text-center quantity-amount" value="<%= items.quantity %>" readonly placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                              <input type="hidden" name="productId" class="productId" value="<%= items.productId._id %>">
                              <div class="input-group-append">
                                <button class="btn btn-outline-black increase" type="button">&plus;</button>
                              </div>
                            </div>
                          </td>
                          <td class="productIdInput"><%= items.subtotal %></td>
                          <td><a href="" class="btn btn-black btn-sm remove-btn" id="<%= items.productId._id %>">X</a></td>
                        </tr>
                      <% }) %>
                        
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
        
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-5">
                    <div class="col-md-6">
                    <a href="/products"><button class="btn btn-outline-black btn-sm btn-block" style="background-color: black; color: white;">Continue Shopping</button></a> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="text-black h4" for="coupon">Coupon</label>
                      <p>Enter your coupon code if you have one.</p>
                    </div>
                    <div class="col-md-8 mb-3 mb-md-0">
                      <input type="text" class="form-control py-3 couponCode" id="coupon" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4">
                       <button class="btn btn-black couponButton" style="background-color: black; color: white;">Apply Coupon</button>
                    </div>
                    <a href="" style="width: 20%;"><button class="btn btn-outline-black btn-sm btn-block mt-3 couponBtn" style="background-color: black; color: white;">Coupon Offers</button></a> 
                    <a href="" style="width: 30%;"><button class="btn btn-outline-black btn-sm btn-block mt-3 removeCouponBtn" style="background-color: black; color: white;">Remove Coupon</button></a> 
                  </div>
                </div>
                <div class="col-md-6 pl-5">
                  <div class="row justify-content-end">
                    <div class="col-md-7">
                      <div class="row">
                        <div class="col-md-12 text-right border-bottom mb-5">
                          <h3 class="text-black h4 text-uppercase ">Cart Totals</h3>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <span class="text-black ">Subtotal</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black cartSubtotal" id="<%= cart.cartSubtotal %>" ><%= cart.cartSubtotal %></strong>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-md-6">
                          <span class="text-black">Coupon Offer</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black offerValue" id="offerCoupon"><%= cart.discountValue %></strong>
                        </div>
                      </div>

                      <div class="row mb-5">
                        <div class="col-md-6">
                          <span class="text-black">Total</span>
                        </div>
                        <div class="col-md-6 text-right">
                          <strong class="text-black cartTotals" id="<%= cart.totalAmount %>" ><%= cart.totalAmount %></strong>
                         
                        </div>
                      </div>
                      <% } else{ %>
                        <tr>
                          <td>
                            Cart is Empty
                          </td>
                        </tr>
                      
                        
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
                    <%  } %>
 
                      <div class="row">
                        <div class="col-md-12">
                          <button class="btn btn-black btn-lg py-3 btn-block" style="background-color: black; color: white;" onclick="window.location='/checkout'">Proceed To Checkout</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
		
<%- include('../layout/footer') %>