<%- include('../layout/header') %>

<section style="background-color: #eee;">
    <div class="container py-5">
      
      <% if( wishlists && wishlists.products.length > 0 ){%>
      <% wishlists.products.forEach((product)=>{ %>
      <div class="row justify-content-center mb-3" id="rowWishlist" data-productId="<%= product.productId._id %>">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="ms-auto text-warning mb-2">
                  <a class="product-item btn" href="" id="removeWishListBtn"  style="height: 35px;padding-top: 3px; border-radius: 22px;"
                  data-product-id="<%= product.productId._id %>"
                  data-product-price="<%= product.promotionalPrice %>"
                   ><img src="/images/adminImages/wishlist.png" style="width: 15px; height: 16px;" alt=""></a>
                </div>
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                   <a href="/product?id=<%= product.productId %>"><img src="/images/productImages/<%= product.image %>"
                      class="w-100" /></a> 
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5><%= product.name %></h5>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span class="text-primary"> • </span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    <%= product.description %>
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">&#8377;<%= product.promotionalPrice %></h4>
                    <span class="text-danger"><s>&#8377;<%= product.productPrice %></s></span>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <a href="/product?id=<%= product.productId._id %>" class="btn btn-primary btn-sm"><button class="btn btn-primary btn-sm" type="button">Details</button></a>

                    <% if(product.productId.stock === 0){ %>

                      <p style="color: red; padding-top: 5px;">Out of Stock</p>
          
                    <% } else { %>
          
                      <button class="btn btn-outline-primary btn-sm mt-2 addToCartWishlistBtn" type="button"  data-product-id="<%=product.productId._id %>"
                        data-product-price="<%= product.promotionalPrice %>" id="addToCart" data-wishlist-status="true"> Add to Cart
                      </button>  
          
                    <% } %>
                    
                     
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      <% }else{ %>
        </script>
        <center><h1>No Items In wishlist</h1></center>
        <%}%>
    </div>
  </section>


  <%- include('../layout/footer') %>